/*<!-- Devang Patel, 000910525
         Created on :- 36/01/2024
         last updated on:- 30/01/2024
         This program is just for pracising bootstrap and css animation-->*/
.Animation{
    width: 100px;
    height: 50px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  @keyframes example {
    0%   {background-color:gold; left:0;}
    50%  {background-color:yellowgreen; left: 93%;}
    100%  {background-color:gold; left:0;}
    
  }
 
  